.profile_navbar {
  display: flex;
  margin: 5px;
}

.userInfo {
  display: flex;
}

.info {
  display: flex;
  margin: 0 10px;
}

.info div {
  margin: 0 10px;
}

.row {
  display: flex;
}
.row button{
  /* display: flex; */
  background-color: transparent;
  font-size: 20px;
  width: 100px;
  text-decoration: none;
  /* border:orange solid 2px ; */
  border:none ;
  color: yellow;
}
.profile_sections {
  background-color: black;
}

.profile_button {
  /* display: flex; */
  margin: 20px 10px;
}

.profile_button_nav {
  display: flex;
  justify-content: space-between;
}

.profile_button_nav button {
  font-weight: 700;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
  /* display: flex; */
  border: none;
  color: white;
  margin: 0 20px;
}

.profile_button_nav1 {
display: block;
}

.profile_button_nav2 {
  display: block;
}

.main_content {
  background-color: transparent;
  width: 100%;
  margin: 10px;
}

.main_content input {
  /* width: fit-content; */
  width: 60%;
  line-height: 2;
  font-size: 15px;
}

.inputs_coloum {
  width: 34%;
  font-size: 15px;
  margin: 10px;
}

.inputs_coloum_group {
  width: 34%;
  font-size: 18px;
}
.siteAddress_btn{
  display: flex;
  flex-direction: column;

}

.disabled_save_butn {
  line-height: 2;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  background-color: #ffb600;
  color: black;
  border-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 43%;
  transform: "translate(-50%)";
  transition: background 0.8s;
}

.disabled_save_butn:hover {
  cursor: pointer;
  background-color: #a87c0a;
}

.disabled_save_butn_block {
  padding: 0.7rem 2rem;
  border-radius: 4px;
  color: black;
  border-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 43%;
  transform: "translate(-50%)";
  cursor: not-allowed;
  background-color: "gray"
}

.email,
.number {
  padding: 0.6rem 1rem;
  margin: 1rem 1rem;
  color: black;
  border-radius: 8px;
  border-style: none;
  background-color: #2d2d2d;

}

.input {
  color: #727272;
}

.email:hover,
.number:hover {
  cursor: not-allowed;
}

.addressBook {
  margin: 15px 70px;
}

.saved_address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 5px 110px;
}

.address {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border: #2d2d2d solid 2px;
  margin: 10px;
}

.address_btn {
  display: flex;

}

.address_btn span {
  margin: 35px 20px;
}

.rating_div{
  display: flex;
}

.feedback_div{
  display: flex;
  width: 80%;
}
.feedback_div h3{
margin: 10px;
}

.feedback_form{
  background-color: #2d2d2d;
  resize: "none";
  min-height: "9rem";
  width: "80%"
}